//
//   Common Functions
// -----------------------------------------------------------------------------

// Strip Unit
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// REM & EM Unit Calculators
// Call with 1, 2, 3 or 4 parameters, 'px' is not required but supported.
// Optionally call with a different base to calculate rem (comma separated).
$rem-base: 16px !default;

// REM Unit Calculator
@function convert-to-rem($value, $base-value: $rem-base) {
  $value: strip-unit($value) / strip-unit($base-value) * 1rem;
  @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
  @return $value;
}

@function rem-calc($values, $base-value: $rem-base) {
  $max: length($values);
  @if $max == 1 { @return convert-to-rem(nth($values, 1), $base-value); }

  $remValues: ();
  @for $i from 1 through $max {
    $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
  }
  @return $remValues;
}

// EM Unit Calculator
$em-base: $rem-base !default;

@function convert-to-em($value, $base-value: $em-base)  {
  $value: strip-unit($value) / strip-unit($base-value) * 1em;
  @if ($value == 0em) { $value: 0; } // Turn 0rem into 0
  @return $value;
}

@function em-calc($values, $base-value: $em-base) {
  $max: length($values);
  @if $max == 1 { @return convert-to-em(nth($values, 1), $base-value); }

  $remValues: ();
  @for $i from 1 through $max {
    $remValues: append($remValues, convert-to-em(nth($values, $i), $base-value));
  }
  @return $remValues;
}
