//
//   Button Styles
// -----------------------------------------------------------------------------

.btn {
  align-items: center;
  background-color: $color-primary;
  border: 1px solid transparent;
  border-radius: $radius;
  color: $color-white;
  cursor: pointer;
  display: inline-flex;
  font-size: 0.9em;
  justify-content: center;
  line-height: 1;
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 0.5rem 1rem;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -webkit-appearance: none;

  &:hover,
  &:focus {
    background-color: rgba($color-primary, 0.9);
    color: #fff;
  }
}
