//
//   Button Styles
// -----------------------------------------------------------------------------

.btn {
  align-items: center;
  background: $color-primary;
  border: 1px solid transparent;
  border-radius: $radius;
  color: $color-white;
  cursor: pointer;
  display: inline-flex;
  font-size: 0.9em;
  justify-content: center;
  line-height: 1;
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 0.5rem 1rem;
  transition: background 0.25s ease-out, color 0.25s ease-out;
  -webkit-appearance: none;

  &:hover,
  &:focus {
    background: adjust-color($color-primary, $lightness: -5%);
    color: #fff;
  }

  // Contras Button
  &--contrast {
    background: $color-contrast;

    &:hover,
    &:focus {
      background: adjust-color($color-contrast, $lightness: -5%);
    }
  }
}
