//
//   Footer
// -----------------------------------------------------------------------------

.footer {
  background-color: $color-bg-shell;
  color: $color-white;
  font-size: rem-calc(14);
  line-height: 1.4;
  z-index: 1; // above off-canvas menu
  padding: 0.75em 0;

  @media (min-width: $breakpoint-medium) {
    font-size: rem-calc(15);
  }
}
