//
//   Navigation
// -----------------------------------------------------------------------------

$nav-height: rem-calc(62);
$nav-item-padding: rem-calc(8);
$nav-breakpoint: $breakpoint-medium;

.nav {
  // position: absolute;
  // width: 220px;

  background-color: $color-primary-black;
  color: $color-white;
  font-size: rem-calc(16);
  margin-bottom: 1rem;

  // Links
  a {
    color: $color-white;
    display: block;
    text-decoration: none;
    line-height: $nav-height;
    padding: 0 $nav-item-padding;

    &:hover {
      color: #fff;
    }
  }

  // Menu List
  &__menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 -$nav-item-padding;
    padding: 0;

    li {
      flex: 0 1;
      // text-align: center;
    }

    a {

    }
  }

  // Title
  &__title {
    font-size: rem-calc(24);
    font-weight: $font-weight-bold;
    margin-right: 2rem;
  }

  //
  //   Desktop Navigation
  // -------------------------------------------------------
  @media (min-width: $nav-breakpoint) {
    border-top: 1px solid red;
  }
}
