//
//   Blog Page Styles
// -----------------------------------------------------------------------------

// grid gutters
$grid-gutter-medium: rem-calc(22);
$grid-gutter-large: rem-calc(18);

.blog__column {
  margin-bottom: $line-height-rem;
  width: 100%;
}

// Small
@media (min-width: $breakpoint-small) {

  // masonry-like grid
  .blog {
    column-count: 2;
    column-gap: $grid-gutter-medium;

    &__column {
      display: inline-block; // workaroud till 'break-inside: avoid' support
      margin-bottom: $grid-gutter-medium;
    }
  }

}

// XLarge
@media (min-width: $breakpoint-xlarge) {

  .blog {
    column-count: 3;
    column-gap: $grid-gutter-large;

    &__column {
      margin-bottom: $grid-gutter-large;
    }
  }
}
