//
//   Blog Page Styles
// -----------------------------------------------------------------------------

// grid gutter
$grid-gutter: 1em;

.blog {
  margin: -($grid-gutter/2);

  &__column {
    padding: ($grid-gutter/2);
    width: 100%;
  }
}

// Small
@media (min-width: $breakpoint-medium) {

   // 2-column grid
  .blog {
    display: flex;
    flex-wrap: wrap;

    &__column {
      flex-basis: 50%;
      max-width: 50%;
    }
  }

}
