//
//   Excerpt Styles
// -----------------------------------------------------------------------------

.excerpt {
  border: 1px solid $color-gray;
  border-radius: $radius;
  padding: 1em;

  @media (min-width: $breakpoint-medium) {
    font-size: rem-calc(15);
  }

  @media (min-width: $breakpoint-large) {
    font-size: rem-calc(16);
  }
}
