//
//   App Shell :: Base
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
  font-size: 100%;
  // normalize: no adjustments after orientation changes in IE and iOS
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, :after, :before {
  box-sizing: inherit;
}

body {
  background-color: $color-bg-content;
  color: $color-black-light;
  display: flex; // sticky footer
  flex-direction: column; // sticky footer
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  margin: 0;
  min-height: 100vh; // sticky footer
  padding: 0;


  // Medium Screens
  @media (min-width: $breakpoint-medium) {
    font-size: $font-size-medium;
  }

  // Large Screens
  @media (min-width: $breakpoint-large) {
    font-size: $font-size-large;
  }
}

#content {
  background-color: $color-bg-content;
  flex: 1 0 auto; // sticky footer
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  z-index: 1; // above off-canvas menu
}

//
//   Images
// ---------------------------------------------------------
img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  // normalize: hide the overflow in IE
  overflow: hidden;
}

//
//   Screen Reader Only
// ---------------------------------------------------------
.screen-reader {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
