//
//   App Shell :: Layout
// -----------------------------------------------------------------------------

// Container
.container {
  padding: 0 rem-calc(16);
  margin: 0 auto;
  max-width: rem-calc(960);
  min-width: rem-calc(320);
  width: 100%;

  @media (min-width: $breakpoint-medium) {
    padding: 0 rem-calc(36);
  }

  @media (min-width: $breakpoint-large) {
    padding: 0 rem-calc(40);
  }
}
