//
//   App Shell :: Layout
// -----------------------------------------------------------------------------

// Container
.container {
  padding: 0 1em;
  margin: 0 auto;
  max-width: rem-calc(968);
  min-width: rem-calc(320);
  width: 100%;

  @media (min-width: $breakpoint-small) {
    padding: 0 2em;
  }
}
