//
//   Typography
// -----------------------------------------------------------------------------

// resets
h1, h2, h3, h4, h5, h6,
p, ul, ol, li, blockquote, pre {
  margin: 0;
  padding: 0;
}

// vertical rhythm
p, ul, ol,
blockquote, pre, address {
  margin-bottom: $line-height-em;
}

//
//   Headings
// ---------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
  color: $color-black;
  font-family: $font-family-light;
  font-weight: $font-weight-light;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.75em;
}

//
//   Link
// ---------------------------------------------------------
a {
  color: darken($color-primary, 7%);
  text-decoration: none;
  // normalize: remove gaps in links underline in iOS 8+ and Safari 8+
  -webkit-text-decoration-skip: objects;

  // normalize: remove the outline on focused links
  &:active,
  &:focus,
  &:hover {
    color: $color-primary;
    outline-width: 0;
  }
}

//
//   Lists
// ---------------------------------------------------------
ul,
ol {
  list-style-position: inside;
  margin-left: 1.5em;

  // nested lists
  & & {
    margin-left: 1em;
    margin-bottom: 0;
  }
}

//
//   Bold & Strong
// ---------------------------------------------------------
b,
strong {
  font-weight: $font-weight-bold;
}

//
//   Small
// ---------------------------------------------------------
small {
  // normalize: correct font size in all browsers
  font-size: 80%;
}

//
//   Subscript, Superscript
// ---------------------------------------------------------
sub,
sup {
  // normalize: prevent 'sub' and 'sup' elements from affecting the line height
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

//
//   Blockquote
// ---------------------------------------------------------
blockquote {
  color: lighten($color-black-light, 15%);
  border-left: 3px solid $color-gray;
  padding: 0.5em 1em 0.1em;

  &:before {
    content: "\2014 \00A0"; // em dash, nbsp
  }
}

//
//   Code, Keyboard, Preformatted, Sample
// ---------------------------------------------------------
code,
kbd,
pre,
samp {
  background: mix(#eaeaea, $color-primary, 96%);
  border-radius: $radius;
  color: $color-black;
  font-family: $font-family-monospace;
  // normalize: correct the odd 'em' font sizing
  font-size: 1em;
  padding: 0.2em 0.5em;
}

pre {
  font-size: 0.875em;
  padding: 0.5em 1em;
}

//
//   Abbreviation
// ---------------------------------------------------------
abbr[title] {
  // normalize: correct text decoration
  text-decoration: underline;
  text-decoration: underline dotted;
}

//
//   Leading Paragraph
// ---------------------------------------------------------
.lead {
  font-size: 1.25em;
  line-height: $line-height + 0.1;

  &:first-letter {
    float: left;
    font-size: em-calc(49);
    font-weight: $font-weight-bold;
    line-height: 1em;
    margin-right: 0.125em;
    margin-top: rem-calc(3);
  }
}
