//
//   Common Variables
// -----------------------------------------------------------------------------

@import "functions";

//
//   Colors
// ---------------------------------------------------------
$color-primary: #088ce2;
$color-contrast: #ec5840;

// derived
$color-white: mix(#fff, $color-primary, 96%);
$color-black: mix(#222, $color-primary, 92%);
$color-black-light: mix(#444, $color-primary, 92%);
$color-gray: mix(#888, $color-primary, 80%);
$color-gray-light: mix(#f8f8f8, $color-primary, 98%);

$color-primary-black: mix($color-black, $color-primary, 86%);

//
//   Base
// ---------------------------------------------------------
$font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-light: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

$font-size: rem-calc(16);
$font-size-medium: rem-calc(18);
$font-size-large: rem-calc(20);

$font-weight: 400;
$font-weight-light: 300;
$font-weight-bold: 700;

$line-height: 1.5;
$line-height-rem: $line-height * $font-size;
$line-height-rem-medium: $line-height * $font-size-medium;
$line-height-rem-large: $line-height * $font-size-large;

$radius: 3px;

//
//   Breakpoints
// ---------------------------------------------------------
$breakpoint-medium: 672px;
$breakpoint-large: 828px;

//
//   Grid
// ---------------------------------------------------------
$grid-gutter: 2.5rem;
$grid-gutter-third: 1.5rem;
